
<div class="col-lg-12 col-sm-12 col-xs-12">
   <div class="widget">
                   <!-- <div class="widget-header  bordered-bottom bordered-blue">
                        <span class="widget-caption">Add Class </span>
                    </div> -->
    <div class="widget-body ">
            
        <div id="post_submit_message">
          <label id="lbl_success_add_class_message" style="color: #52B4E5;">
            
          </label> 
          <label id="lbl_error_add_class_message" style="color: red;">
            
          </label>
        </div>

            <div class="row">
                  <div class="col-sm-10">
                    <div class="form-group">
                       <span class="input-icon icon-right">
                       <label id="lblteacherName">  </label>
                       </span>
                    </div>
                  </div>
            </div>
         
        <%= form_for(@classroom) do |f| %>
    
          <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                       <span class="input-icon icon-right">
                      <%= f.text_field :class_name, class: 'form-control', placeholder: 'Class Name' %>
                       
                       </span>
                    </div>
                  </div>
                                              
                  <div class="col-sm-6">
                    <div class="form-group">
                       <span class="input-icon icon-right">
                       <%= f.text_field :class_location, class: 'form-control', placeholder: 'Class Location' %>
                       
                       </span>
                    </div>
                  </div>
          </div>
    
            <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                       <span class="input-icon icon-right">
                      <%= f.text_field :class_level, class: 'form-control', placeholder: 'Class Level' %>
                       
                       </span>
                    </div>
                  </div>
            </div>
    
    
            <%= f.text_field :school_id, {:value => session[:school_id], :hidden => true}%>
    
      
             <%= f.text_field :school_user_id, {:hidden => true} %> 
             <%= f.text_field :id, {:hidden => true} %>

        <% end %>
     
        <input type="hidden" id="txt_edit_or_save" >

        <button type="submit" id="btn_add_class" class="btn btn-blue" onclick="add_class_to_database()"> Submit </button>
    </div>
  </div>
</div>


<script type="text/javascript">
  
  function add_class_to_database() {

$("#btn_add_class").prop("disabled",true);

var form_data = $('form').serialize(); 


      $.ajax({
        method: "POST",
        url: "/classrooms",
        data: form_data
      }).done(function(data){
        //console.log(data);
       if ($("#txt_edit_or_save").val() == "edit") {
        var teacherName =  $('#lblteacherName').text().split(":")[1];

          $("#"+data.id).html("<td> "+ data.class_name +" </td> <td> "+ data.class_location +" </td> <td> "+ data.class_level +" </td> <td> "+ teacherName +" </td> <td style='display:none;''> "+ data.school_user_id +"</td> <td> <button type='button' class='btn btn-info btn-xs' onclick='editClass("+data.id+")'> Edit </button> <a class='btn btn-info btn-xs' data-confirm='Are you sure to delete all of the class data?' data-method='delete' href='/school_users/"+data.id+"'> Delete </a> <button type='button' class='btn btn-info btn-xs' onclick='addStudentDailog("+data.id+")'> Add Students </button> <button type='button' class='btn btn-info btn-xs' onclick='getStudentList("+data.id+")'> View Students </button>   </td>");

                 
       
          $("#lbl_success_add_class_message").text("Class Updated!");

       }
       else{
          $("#lbl_success_add_class_message").text("Class Added!");
       }  
       

      });
  
  
}

</script>
