<div class="page-breadcrumbs">
  <% if session[:role_type] == "Admin" %>
  <h> <a href="/activities/new"> Home </a> / <a href="<%= url_for(:back) %>"> Events </a> / <%= @eventObj.event_title %> </h> 
  <% else %>
  <h> <a href="/school_users/schoolUserHomeView"> Home </a> / <a href="<%= url_for(:back) %>"> Events </a> / <%= @eventObj.event_title %> </h>
    <% end %>
</div>

<div class="eventdetail" style="background-color: rgb(238, 238, 238); height: 700px; margin: 0px -22px -27px -20px;">
<div class="row">
  
  <div class="event-detail-header">
     <p class="event-title">
      <%= @eventObj.event_title %>
     </p>                
  </div>

  <div class="panel-body event-desc">
       <p ><%= @eventObj.event_description %></p>  
      
       <p > <div class="btn-group align-btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" onclick="getInvitedList('Invited', <%= @eventObj.classroom_id %>, <%= @eventObj.id %>)">Invited <%= @eventObj.invitationCount[0][0] %></button>
            
            <button type="button" class="btn btn-default" onclick="getInvitedList('Accepted', <%= @eventObj.classroom_id %>, <%= @eventObj.id %>)">Accepted <%= @eventObj.acceptedCount %> </button>
            
            <button type="button" class="btn btn-default" onclick="getInvitedList('Rejected', <%= @eventObj.classroom_id %>, <%= @eventObj.id %>)">Rejected <%= @eventObj.declinedCount %> </button>
          
          </div>
       </p>
       <p> Created by: <%= @school_user.first_name %> <%= @school_user.last_name %>

       </p>

  </div>
<br>
<div class="panel-body event-desc">
       <p > <i class="glyphicon glyphicon-calendar"></i>  <%= @eventObj.event_date %> &nbsp; &nbsp; <i class="glyphicon glyphicon-time"></i> <%= @eventObj.event_time %> to <%= @eventObj.event_end_time %></p>  

       <hr class="hr-event-detail"></hr>
       <p > <i class="glyphicon glyphicon-map-marker"></i> <%= @eventObj.event_location %> </p>

  </div>
<div class="col-sm-10">




</div>
</div><!-- / div row-->

</div>

<script>
  
  $(document).ready(function(){

    $("#dialog-message").hide();

  });

  function getInvitedList(selectedOption, classroom_id, event_id) {
    
    $('#tableParticipantList').html("");

    $.ajax({
      method: "GET",
      url: "/events/eventUserDetailList",
      data: { selectedOption: selectedOption, classroom_id: classroom_id, eventId: event_id }
    })
      .done(function(data) {
        $.each( data, function(index) {
          $('#tableParticipantList').append('<tr><td >'+ data[index].dad_fname + ' ' + data[index].dad_lname + '</td></tr>');
          
        });


          $( "#dialog-message" ).dialog({
            maxHeight: 400,
            minHeight: 350,
            title: selectedOption,
            position: { my: "center", at: "center", of: ".page-body" },
            modal: true,
            buttons: {
              Ok: function() {
                $( this ).dialog( "close" );
              }
            }
          });
        
      });



  };
  </script>


<div id="dialog-message" >
  <%= render 'participantlist' %>
</div>