<%= form_for(@parent) do |f| %>
  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% @parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-12 col-sm-12 col-xs-12 animated fadeInDown" > <!-- div main 
    
    <div class="widget-header bg-blue">
        <span >Register Student</span>
    </div> -->
<div class="widget flat radius-bordered fadeInDown"> 
  <div class="widget-body"> 
     <div id="registration-form"> 

    <form role="form">
        <%= f.fields_for :students do |o| %>
   
          <div class="form-title">
            Student Information
          </div>

          <div class="row"> <!-- div row 1 -->
              <div class="col-sm-6">
                <div class="form-group">
                   <span class="input-icon icon-right">
                      <%= o.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
                        <i class="glyphicon "></i>
                    </span>
                </div>
              </div>
              
              <div class="col-sm-6">
                 <div class="form-group">
                    <span class="input-icon icon-right">
                       <%= o.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
                          <i class="glyphicon "></i>
                     </span>
                    
                  </div>
              </div>
          </div>  <!-- /div row 1 -->
   
          <div class="row"> <!-- div row 1 -->
              <div class="col-sm-6">
                <div class="form-group">
                   <span class="input-icon icon-right">
                       <%= o.text_field :email_id, class: 'form-control', placeholder: 'Email Id' %>
                          <i class="glyphicon "></i>
                     </span>
                </div>
              </div>
              
              <div class="col-sm-6">
                 <div class="form-group">
                    
                     <%= o.check_box :IsLogIn, class: 'check-box', onclick: 'show_emailbox_for_student()' %> <label> Grant Student Access </label>
                  </div>
              </div>
          </div>  <!-- /div row 1 -->
 
       <%= o.hidden_field :id %>  
      <%= hidden_field_tag(:classroomId, @classroomId) %>
  <% end %>
         <div class="form-title">
              Parent Information
          </div>
     <%= f.hidden_field :id %>     
    <div class="row"> <!-- div row 2 -->
        <div class="col-sm-6">
          <div class="form-group">
             <span class="input-icon icon-right">
                <%= f.text_field :dad_fname, class: 'form-control', placeholder: 'Father First Name' %>
                  <i class="glyphicon "></i>
              </span>
          </div>
        </div>
        
        <div class="col-sm-6">
           <div class="form-group">
              <span class="input-icon icon-right">
                 <%= f.text_field :dad_lname, class: 'form-control', placeholder: 'Father Last Name' %>
                    <i class="glyphicon "></i>
               </span>
            </div>
        </div>
    </div> <!-- /div row 2 -->

    <div class="row"> <!-- div row 3 -->
        <div class="col-sm-6">
          <div class="form-group">
             <span class="input-icon icon-right">
                <%= f.text_field :mom_fname, class: 'form-control', placeholder: 'Mother First Name' %>
                  <i class="glyphicon "></i>
              </span>
          </div>
        </div>
        
        <div class="col-sm-6">
           <div class="form-group">
              <span class="input-icon icon-right">
                 <%= f.text_field :mom_lname, class: 'form-control', placeholder: 'Mother Last Name' %>
                    <i class="glyphicon "></i>
               </span>
            </div>
        </div>
    </div> <!-- /div row 3 -->

    <div class="row"> <!-- div row 4 -->
        <div class="col-sm-6">
          <div class="form-group">
             <span class="input-icon icon-right">
                <%= f.text_field :email_id, class: 'form-control', placeholder: 'Email Id' %>
                  <i class="glyphicon glyphicon-envelope"></i>
              </span>
          </div>
        </div>
        
     
        <div class="col-sm-6">
          <div class="form-group">
             

          </div>
        </div>
  
        
    </div> <!-- /div row 4 -->   

      </form> <!-- form tag end -->
     </div>  <!-- /div registration -->
    </div> <!-- /div widget-body -->
   </div>  <!-- /div widget -->
  </div> <!-- /div main-->
<% end %>
    
    <input type="hidden" id="hdnAddOrEditAction">    
    <div class="row"> <!-- div row 3 -->
        <div class="col-sm-6">
          <div class="form-group">
             <button type="submit" id="btn_add_student" class="btn btn-blue" onclick="addStudent()"> Submit </button>
          </div>
        </div>
        
        <div class="col-sm-6">
           <div class="form-group">
              <label id="lbl_add_student_message" style="color: #52B4E5;"></label>
            </div>
        </div>
    </div> <!-- /div row 3 -->



<script type="text/javascript">



  function show_emailbox_for_student() {
    if($('#parent_students_attributes_0_IsLogIn').is(":checked"))
    {
      $('#parent_students_attributes_0_email_id').show();
    }
    else{
      $('#parent_students_attributes_0_email_id').hide();
      $('#parent_students_attributes_0_email_id').val("");
    }
        
  }

  function addStudent(){

      $("#btn_add_student").prop("disabled",true);

      
      var classroomId = $('input[id=classroomId').val();

      if($('#hdnAddOrEditAction').val() == 'add'){
         var form_data = $('form').serialize();
         var url = "/parents/create";
      }
      else{
         var form_data = $('form').serialize() + "&id=" + parentId; 
         var url = "/parents/update";
         var parentId = $('input[id=parent_id').val();
         
      }

      $.ajax({
        method: "POST",
        url: url,
        data: form_data 
      }).done(function(data){
          console.log(data);
            
            var studentId = data["student"][0].id;
            var studentFirstName = data["student"][0].first_name;
            var studentLastName = data["student"][0].last_name;
            var parentName = data["parent"].dad_fname + " " +data["parent"].dad_lname;
            var parentId = data["parent"].id 
            if(data["student"][0].IsLogIn == false){
              var IsLogIn = "NO"
            }else{ var IsLogIn = "YES" }

          if($('#hdnAddOrEditAction').val() == 'add'){
         

            $("#tableStudentList").prepend("<tr id="+studentId+"><td>"+ studentFirstName +"</td> <td> "+studentLastName +" </td> <td> "+ parentName  +" </td> <td> "+ IsLogIn  +" </td> <td> <button type='button' class='btn btn-info btn-xs' onclick='manageStudent("+classroomId+","+studentId+","+parentId+")'> Show/Edit </button> <a class='btn btn-info btn-xs' data-confirm='Are you sure, all of his/her data will also be removed?' data-method='delete' href='/students/destroy?classroomId="+classroomId+"&studentId="+studentId+"'> Delete </a> </td></tr>");
              $("#lbl_add_student_message").text("Student Added!")
          }
          else{

            $("#"+data["student"][0].id).html("<td>"+ studentFirstName +"</td> <td> "+studentLastName +" </td> <td> "+ parentName  +" </td> <td> "+ IsLogIn  +" </td> <td> <button type='button' class='btn btn-info btn-xs' onclick='manageStudent("+classroomId+","+studentId+","+parentId+")'> Show/Edit </button> <a class='btn btn-info btn-xs' data-confirm='Are you sure, all of his/her data will also be removed?' data-method='delete' href='/students/destroy?classroomId="+classroomId+"&studentId="+studentId+"'> Delete </a> </td>");

            $("#lbl_add_student_message").text("Student Details Updated!")
          }

      });


  }
</script>
