<div class="page-breadcrumbs">
  <h> <a href="/school_users/schoolUserHomeView"> Home </a>   </h>
</div>
<div class="col-lg-6 col-sm-6 col-xs-8 list-box-home">
    
<% params[:classes] = @class_details %>
    <% if(session[:role_type] == "Teacher") %>
    <div class="widget-header  widget-for-user">
        <div class="profile__image">
          <a href="#"> <%= session[:initials] %> </a>
        </div>
        
    </div>
    
    <% else %>
    <div class="widget-header  widget-for-user">
        <div class="profile__image">
          <a href="#"> <%= session[:initials] %> </a>
        </div>
        
    </div>  
    <div class="widget-body">

      <% if(@parent_kids) %>
        <% @parent_kids.each do |kids| %>
          <div>
             <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    
                     <span class="input-icon icon-right">
                        <a href='/activities/new?student_id=<%=kids.id%> '>
                        <i class="menu-icon glyphicon glyphicon-eye-open"></i>
                        <span class="menu-text"> <%= kids.first_name %> <%= kids.last_name %> </span></a>
                      </span>
                    
                    </div>
                </div>
             </div>
          </div>
                
        <% end %>
        <% end %>
      
    </div>

    <% end %> 
</div>