
<% @activities.each do |activity| %>
<div class="activities-width">
	
	<div class="widget-header  ">
	     <span> <h> <%= activity.title %>  </h></span> </br>
	    <p> <span class="glyphicon glyphicon-time"></span> <%= time_ago_in_words(activity.created_at) %> ago  &nbsp; &nbsp; <span class="glyphicon glyphicon-user"></span> By: <%= activity.school_user.first_name %> </p> 
	
	</div>


    <div class="widget">
	  <div class="widget-body">
		
		 <div>
			<% if activity.image.url.include? "assets/products" %>
				<div class="row"> 
			        <div class="col-md-6">
			           <div class="form-group">
			              <span class="input-icon icon-right">
			                 <%= image_tag activity.image.url, {:id => 'imageActivity'} %>  
			                     
			               </span>
			            </div>
			        </div>       
			      </div>
		     	   <hr class="hr-activities">	
		      <% end %>

		 </div>

			<p>
			    <%= activity.message %>
	        </p>
	        
	  </div>
    </div>

</div>

<% end %>


