<div class="page-breadcrumbs">
  <h> <a href="/school_users/schoolUserHomeView"> Home </a> / <%= @classname %>   </h>
</div>

<div class="col-lg-12 col-sm-12 col-sm-12 activity-header"> <!-- div main-->

  <div class ="row"> <!-- div main row-->
        <% if session[:role_type] == "Teacher" || session[:role_type] == "Admin" %>
          <%= render 'form' %>
        <% end %>
      
      <% if session[:role_type] == "Teacher" %>
        <div class="col-lg-6 col-sm-6 col-sm-6 list-box">
            <!-- Widget to display list of classes for teacher-->
          <div class="widget-header  widget-for-user">
            <div class="profile__image">
              <a href="#"><%= session[:initials] %></a>
            </div>
          </div>

          <div class="widget-body widget-classes-body">
             <div class="row row-specs-header"><span class="caption-align-center">My Classes </span> </div>
              <% @class_details.each do |classdetails| %>
                   <div class="row">
                      <div class="col-sm-6 col-user-specs">
             
                              <a href='/activities/new?class_id=<%=classdetails.id%> '>     
                              <span class="menu-text"> <%= classdetails.class_name%> </span></a>
                      </div>
                   </div>   
              <% end %>
          </div>

          <div class="widget-body widget-classes-body">
              <div class="row row-specs-header"> <span class="caption-align-center">Actions </span> </div>
                   <div class="row">
                      <div class="col-sm-6 col-user-specs">

                             <a href='/parents/new?classroomId=<%= @classroom_id %>&classname=<%= @classname %>'>
                             <span class="menu-text"> Add students </span></a>
                                            
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-sm-6 col-user-specs">

                             <a href='/students?classroomId=<%= @classroom_id %>&classname=<%= @classname %>'>
                             <span class="menu-text"> View students </span></a>
                                            
                      </div>
                   </div>
          </div>
        </div>
      <% end %>

  </div> <!-- EOF div main row-->

        <div id="avtivities" class="row">
           <%= render 'activity' %>
        </div>
          
        <div class="row">
          <%= will_paginate @activities%>  
        </div>
</div> <!-- EOF div main-->


<!-- <div id="divChat">
<%#= render 'message', locals: {activities: @activitiesNew} %>
</div>
<%#= link_to 'Back', {controller: "home", action: "home"} %> -->